@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* GALLERY */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:black;
}
body {
    background-image:url('../img/banner.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
header {
    display:flex;
}
#header {
    height:600px;
    background-color: #9e9e9e;
}
#slider {
    width:60%;
    height:500px;
    margin-left:250px;
    margin-top:100px;
    border-radius: 10px 10px;
    /*background-color:#cfcfcf;*/
    /*border: 1px solid #000;*/
    box-shadow: 10px 10px 10px 10px #484848;
}
.sliderimg img {
    padding-top:80px;
    width:330px;
    height:330px;
    padding-left: 20px;
}

#menu ul li a:hover{
    color: #fff;
}
#logo {
    width:10%;
    height: 200px;
}
#logo img {
    height: 200px;
}
#menu ul li  {
    font-size: 25px;
    padding-top: 70px;
    padding-left: 60px;
    font-family: 'Indie Flower', cursive;
}
#buttonList {
    width: 20%;
    height: 50px;
    margin-top: 70px;
    display: none;
    border: 2px solid #000;
    border-radius: 20px 20px;
}
.btn {
    font-family: 'Indie Flower', cursive;
}
.btn:hover {
    color:#fff;
}
#products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.block {
    width: 20%;
    height: 470px;
    border: 1px solid #000;
    margin-top: 100px;
    margin-left: 75px;
    border-radius: 10px 10px;
    box-shadow: 10px 10px #484848;
    transition:  height 2s;
    background-color:#cfcfcf;
}
.block:hover {
    height: 550px;
}
.block img {
    width: 80%;
    height: 300px;
    padding-left: 10%;
    padding-top:20px ;
}
.description {
    text-align: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}
.price {
    text-align: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}
footer {
    width: 100%;
    height: 180px;
    background-color: #212121;
    display: flex;
    margin-top: 150px;
}
#social {
    width: 33%;
}
#social ul li {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}
#social ul li a {
    color:#fff;
}
#copy {
    width: 33%;
}
#copy p {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color:#fff;
}
#copy p a {
    color:#fff;
}

#calls {
    width: 33%;
}
#calls p {
    text-align: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color:#fff;
}
#calls p a {
    color:#fff;
}

/*Responsive for gallery-block*/
@media screen and (max-width:1550px){
    #products {
        width: 100%;
    }
    .block {
        width:18%;
        height: 490px;
    }
}
@media screen and (max-width:1115px){
    #products {
        width: 100%;
    }
    .block {
        width:35%;
        height: 490px;
    }
}
@media screen and (max-width:770px){
    #products {
        width: 100%;
    }
    .block {
        width:37%;
        height: 490px;
    }
}
@media screen and (max-width:610px){
    #products {
        width: 100%;
    }
    .block {
        width:70%;
        height: 490px;
    }
}
/*Responsive for gallery-slider*/
@media screen and(max-width:1550px){

}

/* HOME PAGE */

#banner-img{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    background-image: url('../img/home/banner-home3.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    opacity: 80%;
}
#process {
    width: 100%;
    height: 650px;
    margin-top: 50px;
    display: flex;
}
.process-block {
    width: 20%;
    height: 500px;
    background-color: #fff;
    margin-left: 75px;
    margin-top: 70px;
    box-shadow: 10px 10px #484848;
    border: 1px solid #000;
    border-radius: 10px 10px;
}
.process-block img {
    width: 236px;
    height: 150px;
    padding-top: 100px;
    padding-left: 70px;
}
.process-block p {
    text-align: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding-top: 50px;
}
#rewiev {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
}
.rewiev-block {
    width: 30%;
    height: 450px;
    margin-top: 25px;
    margin-left: 50px;
    background-color: #fff;
    box-shadow: 10px 10px #484848;
    border: 1px solid #000;
    border-radius: 10px 10px;
}
.rewiev-block img {
    width: 250px;
    height: 250px;
    padding-left: 160px;
    padding-top: 30px;
}
.rewiev-block p {
    text-align: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding-top: 30px;
}
#animation-text {
    margin-left: 250px;
}
#animation-text h1 {
    font-size: 45px;
    font-family: 'Indie Flower', cursive;
    padding-top: 150px;
}
/*Odraditi animaciju za tekst*/
#view-more {
    background-color:#cfcfcf; 
    height: 50px;
    border-radius: 20px 20px;
    box-shadow: 2px 2px #484848;
}
input {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-left: 490px;
    border: 2px solid #000;
}


















