@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* GALLERY PAGE */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:black;
}
body {
    background-color: #a7c0cd;
    /*background-image:url('../img/banner.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;*/
}
img {
    max-width: 100%;
}
header {
    display:flex;
}
#header {
    height:600px;
    background-color: #607d8b;
}
#slider {
    width:60%;
    height:400px;
    margin-left:300px;
    margin-top:100px;
    box-shadow: rgb(38, 57, 77) 0px 60px 70px -10px;
    background-color: #607d8b;
}
.sliderimg img {
    padding-top:60px;
    width:280px;
    height:280px;
    padding-left: 50px;
}
#menu ul li a{
    color: #fff;
}
#menu ul li a:hover {
    color:#9a0007;
}
#logo {
    width:100%;
}
#menu ul li  {
    font-size: 25px;
    padding-top: 70px;
    padding-left: 70px;
    font-family: 'Kanit', sans-serif;
}
#buttonList {
    width: 20%;
    height: 50px;
    margin-top: 70px;
    display: none;
    border: 2px solid #000;
    border-radius: 20px 20px;
}
.btn {
    font-family: 'Kanit', sans-serif;
}
.btn:hover {
    color:#fff;
}
#products {
    width: 100%;
    height: 2000px;
    display: flex;
    flex-wrap: wrap;
    background-color: #607d8b;
    margin-top: 70px;
}
.block {
    width: 20%;
    height: 470px;
    border: 1px solid #000;
    margin-top: 100px;
    margin-left: 75px;
    /*border-radius: 10px 10px;*/
    box-shadow: rgb(38, 57, 77) 0px 60px 70px -10px;
    background-color:#fff;
}
.block img {
    width: 80%;
    height: 300px;
    padding-left: 10%;
    padding-top:20px ;
}
.description {
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
.price {
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
footer {
    width: 100%;
    background-color: #607d8b;
    display: flex;
    margin-top: 150px;
}
#social {
    width: 33%;
}
#social ul li {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}
#social ul li a {
    color:#fff;
}
#social ul li a:hover {
    color:#9a0007;
}
#copy {
    width: 33%;
}
#copy p {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color:#fff;
}
#copy p a {
    color:#fff;
}
#copy p a:hover {
    color:#9a0007;
}
#calls {
    width: 33%;
}
#calls p {
    text-align: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color:#fff;
}
#calls p a {
    color:#fff;
}
#calss p a:hover {
    color:#9a0007;
}
/* HOME PAGE */

#banner-img{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    background-image: url('../img/home/banner-home3.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    opacity: 80%;
}
#process {
    width: 100%;
    height: 650px;
    margin-top: 50px;
    display: flex;
    background-color: #607d8b;
}
.process-block {
    width: 20%;
    height: 500px;
    background-color: #fff;
    margin-left: auto;
    margin-top: 70px;
    border: 1px solid #000;
    border-radius: 20px 20px;
    text-align: center;
    padding: 30px;
}
.process-block img {
    max-height: 200px;
}
.process-block p {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    padding-top: 50px;
}
.process-block p a:hover{
    font-weight: bolder;
    color:#9a0007;
}
#rewiev {
    width: 100%;
    height: 650px;
    display: flex;
    background-color: #607d8b;
}
.rewiev-block {
    width: 30%;
    height: 450px;
    margin-top: 105px;
    margin-left: auto;
    background-color: #fff;
    border-radius: 20px 20px;
    border: 1px solid #000;
    text-align: center;
    padding: 20px;
}
.rewiev-block img {
    max-height: 250px;
}
.rewiev-block p {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

/* ABOUT PAGE */

#heading1 {
    width: 100%;
    height: 700px;
    background-color: #607d8b;
    display: flex;
    margin-top: 50px;
}
.about {
    width: 40%;
    margin-left: 10%;
}
.about h1 {
    font-size: 50px;
    color: #fff;
    font-family: 'Indie Flower', cursive;
}
.about p {
    font-size: 25px;
    text-align: justify;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #fff;
}
.icons {
    font-size: 30px;
    margin-top: 50px;
    color: #fff;
}
.icons, .fab, .fas{
    margin-top: 30px;
}
.location {
    width: 40%;
}
#gmap_canvas {
    width: 500px;
    height: 500px;
    padding-left: 250px;
    padding-top: 95px;
}
#heading2 {
    width: 100%;
    height: 600px;
    background-color: #607d8b;
}
#heading2 h1 {
    font-size: 50px;
    color:#fff;
    font-family: 'Indie Flower', cursive;
    padding-left: 200px;
    padding-top: 50px;
}
#heading2 p {
    font-size: 25px;
    text-align: justify;
    font-family: 'Kanit', sans-serif;             
    font-weight: bold;
    color: #fff;
    padding-left: 200px;
    padding-top: 50px;
}
#up {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 30px;
}
#up, .fas {
    padding-left: 5px;
    font-size: 30px;
}

#news h2 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif; 
    text-align: center;
    font-weight: bold;
    color: #9a0007;
}
#myBtn {
    width: 150px;
    height: 50px;
    background-color: #607d8b;
    font-size: 20px;
    color:#fff;
}
#myBtn:hover {
    color:#9a0007;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left:0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #607d8b;
    color:#fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Kanit', sans-serif; 
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* RESPONSIVE FOR HEADER */

@media screen and (max-width: 1350px){
    #header {
        height: inherit;
    }
    #logo {
        width: 100%;
    }
    #menu ul li {
        font-size: 20px;
    } 
    #slider {
        height: 300px;
        margin-left: 150px;
    }
    .sliderimg img {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 1000px){
    #header {
        width: 40%;
        height: inherit;
    }
    #menu ul li {
        font-size: 15px;
    }
    #logo {
        width: 70%;
    }
    #slider {
        height: 280px;
        margin-left: 50px;
    }
    .sliderimg img {
        width: 170px;
        height: 170px;
    }
}
@media screen and (max-width: 750px){
    #header {
        display: none;
    }
    #menu ul li {
        display: block;
    }
    #slider {
        width: 80%;
        height: 220px;
        margin-left: 10%;
    }
    .sliderimg img {
        width: 100px;
        height: 100px;
    }
}
/* RESPONSIVE FOR ABOUT PAGE */

@media screen and (max-width:1520px){
    #heading1 {
        width: 100%;
        height: inherit;
    }
    .about {
        width: 30%;
    }
    .about h1 {
        font-size: 30px;
    }
    .about p {
        font-size:20px;
    }
    .icons, .fab, .fas {
        font-size: 20px;
    }
    .location {
        width: 30%;
    }
    #gmap_canvas {
        width: 350px;
        height: 350px;
        padding-left: 150px;
    }
}
@media screen and (max-width: 1300px){
    #heading2 {
        width: 100%;
        height: inherit;
    }
    #heading2 h1 {
        font-size: 30px;
        padding-left: 150px;
    }
    #heading2 p {
        font-size: 20px;
        padding: 50px;
        text-align: justify;
    }
}
@media screen and (max-width: 850px){
    #heading2 {
        width: 100%;
        height: inherit;
    }
    #heading2 h1 {
        font-size: 30px;
        padding-left: 80px;
    }
    #heading2 p {
        font-size: 20px;
        padding: 20px;
        text-align: justify;
    }
}
@media screen and (max-width: 850px){
    #heading1 {
        flex-wrap: wrap;
    }
    .about {
        width: 100%;
    }
    .about p {
        font-size: 15px;
        text-align: center;
    }
    .icons, .fab, .fas {
        font-size: 20px;
    }
    .location {
        width: 100%;
    }
    #gmap_canvas {
        width: 350px;
        height: 350px;
        padding-left: 200px;
    }
}
@media screen and (max-width: 570px){
    #heading1 {
        flex-wrap: wrap;
    }
    .about {
        width: 100%;
    }
    .about p {
        font-size: 15px;
        text-align: center;
    }
    .icons, .fab, .fas {
        font-size: 20px;
    }
    .location {
        width: 100%;
    }
    #gmap_canvas {
        width: 200px;
        height: 200px;
    }
}

/*RESPONSIVE FOR INDEX PAGE-GALLERY */

@media screen and (max-width:1550px){
    #products {
        width: 100%;
    }
    .block {
        width:18%;
        height: 490px;
    }
}
@media screen and (max-width:1115px){
    #products {
        width: 100%;
        height: inherit;
    }
    .block {
        width:35%;
        height: 490px;
    }
}
@media screen and (max-width:770px){
    #products {
        width: 100%;
        height: inherit;
    }
    .block {
        width:37%;
        height: 490px;
    }
}
@media screen and (max-width:610px){
    #products {
        width: 100%;
        height: inherit;
    }
    .block {
        width:70%;
        height: 490px;
    }
}

/* RESPONSIVE FOR HOME PAGE */

@media screen and (max-width:900px){
    #process {
        width: 100%;
        flex-wrap:wrap;
        height:inherit;
    }
    .process-block {
        width:40%;
        margin-left:10px;
    }
}
@media screen and (max-width:750px){
    #process {
        height:inherit;
    }
    .process-block {
        margin-left:180px;
    }
}
@media screen and (max-width:500px){
    .process-block  {
        margin-left: 110px;
    }
}
@media screen and (max-width:1000px){
    #rewiev {
        width:100%;
        height:inherit;
        flex-wrap:wrap;
        margin-top:100px;
    }
    .rewiev-block {
        width:60%;
        margin-left:180px;
    }
}
@media screen and (max-width:500px){
    .rewiev-block {
        margin-left: 75px;
    }
}

